/* src/components/Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  padding: 0.75rem 1.5rem;
  color: white;
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo {
  font-size: 1.3rem;
  font-weight: bold;
  text-decoration: none;
  color: #ffb703;
}

.nav-link {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  color: #ffb703;
}

.logout-btn {
  background: #ff4d4d;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.logout-btn:hover {
  background: #e63946;
}
